<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{plantillas/plantilla :: head}"></head>
<body>
<header th:replace="~{plantillas/plantilla :: header}"></header>
<main class="container shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <h1 class="text-center">¡Bienvenido a tu carrito de compras!</h1>

    <div th:if="${#lists.isEmpty(carrito)}">
        <p class="text-center">Tu carrito está vacío.</p>
    </div>

    <div th:if="${not #lists.isEmpty(carrito)}">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Imagen</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${carrito}">
                <td>
                    <img th:src="@{'/imagenes/' + ${item.producto.imagen}}" alt="Imagen producto" width="50">
                </td>
                <td th:text="${item.producto.nombreProducto}"></td>
                <td th:text="${item.cantidadProductos}"></td>
                <td th:text="'$' + ${#numbers.formatDecimal(item.subtotal, 1, 2)}"></td>
                <td>
                    <form th:action="@{/tokyo/eliminar-carrito}" method="post">
                        <input type="hidden" name="idProducto" th:value="${item.producto.idProducto}" />
                        <button type="submit" class="btn btn-danger btn-sm">
                            <i class="bi bi-trash"></i> Eliminar
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="mt-3 text-end">
            <h4>Total:
                <strong th:text="${#numbers.formatDecimal(#aggregates.sum(carrito.![subtotal]), 0, 'COMMA', 2, 'POINT') !=
                null ? '$' + #numbers.formatDecimal(#aggregates.sum(carrito.![subtotal]), 0, 'COMMA', 2, 'POINT') : '$0.00'}"></strong>
            </h4>
        </div>

        <!-- Botón para continuar con la compra -->
        <div class="d-flex justify-content-end">
            <a class="btn btn-primary btn-sm" th:href="@{/tokyo/pedido}">Continuar con la compra</a>
        </div>
    </div>
</main>
<footer th:replace="~{plantillas/plantilla :: footer}"></footer>
</body>
</html>
