<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{plantillas/plantilla :: head}"></head>
<body>
<header th:replace="~{plantillas/plantilla :: header}"></header>
<main class="container shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <h1 class="text-center">¡Pedido confirmado!</h1>

    <p class="text-center">Tu pedido ha sido procesado exitosamente y será atendido en los próximos días.</p>

    <div th:if="${detallePedidos}">
        <div class="row">
            <div th:each="detalle : ${detallePedidos}" class="col-md-6 col-lg-4">
                <div class="card h-100 shadow">
                    <img th:src="@{'/imagenes/' + ${detalle.producto.imagen}}" class="card-img-top" alt="Imagen producto"
                         style="height: 200px; object-fit: contain; object-position: center; background: #f8f9fa; width: 100%; max-width: 100%;">
                    <div class="card-body text-center">
                        <h5 th:text="${detalle.producto.nombreProducto}"></h5>
                        <p>Cantidad: <strong th:text="${detalle.cantidadProductos}"></strong></p>
                        <p>Subtotal: <strong th:text="'$' + ${#numbers.formatDecimal(detalle.subtotal, 1, 2)}"></strong></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-3 text-end">
            <h4>Total:
                <strong th:text="'$' + ${#numbers.formatDecimal(pedido.totalPedido, 1, 2)}"></strong>
            </h4>
        </div>
    </div>
    <div class="text-center mt-4">
        <a class="btn " th:href="@{'/tokyo/'}">Volver a productos</a>

        <br>
        <!-- Botón para generar comprobante en PDF -->
        <a class="btn"
           th:href="@{'/tokyo/generar-comprobante'(idPedido=${pedido.idPedido}, format='pdf')}"
           target="_blank">
            Generar Comprobante
        </a>
    </div>

</main>
<footer th:replace="~{plantillas/plantilla :: footer}"></footer>
</body>
</html>
